.profile-pad-cont {
  padding: 25px;
  /* border-right: 2px solid var(--border-cl); */
  min-height: 100%;
  padding-top: 50px;
  /* padding-right: 25px; */
}

.profile-cont {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  gap: 10px;
}

.top-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns {
  height: 40px;
  width: 40px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  cursor: pointer;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  color: var(--grey-blue-60);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.profile-email {
  color: var(--grey-blue-80);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.profile-img {
  position: relative;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 2px solid var(--primary-hl);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img > img {
  background: #ffcb33;
  border-radius: 50%;
}

.profile-img > span {
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  background: var(--primary-hl);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: 0px 10px 30px 0px rgba(51, 97, 255, 0.3);
}

.tabs-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-top: 2px solid var(--grey-blue-95);
  border-left: 2px solid var(--grey-blue-95);
  border-radius: 15px;
}

.tabs-grid > div:nth-child(2) {
  border-top-right-radius: 15px;
}
.tabs-grid > div:nth-last-child(2) {
  border-bottom-left-radius: 15px;
}
.tabs-grid > div:last-child {
  border-bottom-right-radius: 15px;
}

.tabs-grid > div {
  height: 120px;
  width: 120px;
  border-right: 2px solid var(--grey-blue-95);
  border-bottom: 2px solid var(--grey-blue-95);

  color: var(--grey-blue-80);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.tabs-grid > div > img {
  height: 30px;
  width: 30px;
}

.tabs-grid > div:hover > div {
  display: flex;
}

.tabs-grid > div > div > img {
  filter: invert(32%) sepia(100%) saturate(3442%) hue-rotate(198deg)
    brightness(91%) contrast(101%);
}

.tabs-grid > div > div {
  /* display: flex;*/
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  background: #fff;
  border-radius: 15px;
  height: 140px;
  width: 140px;
  box-shadow: 0px 10px 30px 0px rgba(38, 51, 77, 0.03);
  border: none;
  position: absolute;
  color: var(--primary-hl);
  font-weight: 900;
}

.contact-opts {
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
  border-radius: 30px;
  border: 2px solid var(--grey-blue-95);
  width: 240px;
  height: 60px;
}

.contact-opts > img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .profile-pad-cont {
    display: none;
  }
}
