.sidebar {
  position: sticky;
  padding: 25px;
  padding-top: 42px;
  top: var(--nav-height);
  left: 0;
  background: var(--primary-bg);
  width: var(--side-width);
  min-height: calc(100vh - var(--nav-height));
  max-height: calc(100vh - var(--nav-height));
  border-right: 2px solid var(--border-cl);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: scroll; */
  gap: 20px;
}

.top {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.btm {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.btm > div {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btm > div > img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    display: none;
  }
}
