.todo-cont {
  position: relative;
  /* padding: 25px; */
  min-height: 100%;
  max-height: 100%;
  /* width: 100%; */
  /* why 360 because profile is 260 with 25 padding */
  /* and todo container has 25 margin */
  /* therefore 25 + 260 + 25 + 25 + width + 25  */
  width: calc(100% - 360px);
  margin: 25px;
  border-radius: 15px;
  border: 2px solid var(--grey-blue-95);
}

.top-nav {
  width: 100%;
  border-bottom: 2px solid var(--grey-blue-95);
}

.top-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-left: 50px;
}

.tabs {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.tabs > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  color: var(--grey-blue-70);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;

  padding-right: 20px;
}

.tabs > div > img {
  height: 30px;
  width: 30px;
}

.tabs > div:hover > img {
  filter: invert(32%) sepia(100%) saturate(3442%) hue-rotate(198deg)
    brightness(91%) contrast(101%);
}
.tabs > div:hover {
  color: var(--primary-hl);
}

.search-bar {
  position: relative;
}

.search-bar > img {
  position: absolute;
  left: 15px;
  height: 24px;
  width: 24px;
  top: calc(50% - 11px);
}

.search-bar > input {
  width: 200px;
  height: 40px;
  padding: 15px;

  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  border: none;
  color: var(--grey-blue-70);

  font-size: 10px;
  font-weight: 900;
  line-height: 20px;
  padding-left: 45px;
}

.todo-col-cont {
  margin: 50px;
  padding-bottom: 50px;
  width: calc(100% - 100px);
  overflow-x: scroll;
  max-height: 100%;

  display: flex;
  gap: 30px;
}

.top-nav-inner-mobile,
.tabs-mobile,
.tabs-mobile > div {
  display: flex;
  align-items: center;
}

.top-nav-inner-mobile {
  gap: 15px;
  padding: 20px;
  justify-content: space-between;
}
.tabs-mobile {
  gap: 25px;
}
.tabs-mobile > div {
  gap: 15px;
}

@media screen and (max-width: 1400px) {
  .todo-cont {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .search-bar,
  .search-bar > input {
    padding: 0;
    height: 50px;
    width: 50px;
  }

  .top-nav-inner {
    display: none;
  }

  .todo-col-cont {
    margin: 20px;
    width: calc(100% - 40px);
  }
}
